Flask==3.1.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==1.7.11
google-auth==2.37.0
google-auth-httplib2==0.1.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
pytest==7.0.0
pytest-mock==3.10.0
python-dotenv==1.0.1
